.DS_Store
__pycache__/
.idea/
dataset/*
dataset0/*
suite0/*
data/*
/data_csvs
*.ipynb
src/.ipynb_checkpoints/analytics-checkpoint.ipynb
sound_masking.py
annotation_merger.py
Eval_LCAS.py
raw_*.py
*.csv
*.xlsx
*.bag
*.pth
*-50ms.pkl
